# Dependencies
node_modules/

# Env variables
.env

# Editor settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Build & cache
dist/
build/
*.cache

# Large binaries
*.exe
*.dll
*.msi
*.appxbundle
*.iso
*.zip
*.rar

# Shortcuts
*.lnk
