# Dependencies
node_modules/

# Env files (ignore sab, sirf example track ho)
.env
.env.*
!.env.example

# Editor
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Build & cache
dist/
build/
*.cache

# Large binaries
*.exe
*.dll
*.msi
*.appxbundle
*.iso
*.zip
*.rar

# Shortcuts / random vendor folders
*.lnk
PredatorSense_Acer_3.00.3152_W10x64/
